Backend/.venv/
Backend/.env
.venv/
.DS_store
.idea/
Backend/.DS_Store
Backend/__pycache__/
Backend/LambdaPackage/
Backend/lambda.zip
Backend/lambda.sh
Backend/LambdaZips/
Backend/temp.*
Backend/credentials.json
Backend/token.json
Backend/LambdaFunctions/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Frontend/node_modules
Frontend/.pnp
Frontend/.pnp.*
Frontend/.yarn/*
Frontend/!.yarn/patches
Frontend/!.yarn/plugins
Frontend/!.yarn/releases
Frontend/!.yarn/versions

# testing
Frontend/coverage

# next.js
Frontend/.next/
Frontend/out/

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/*.pem

# debug
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
Frontend/.env*

# vercel
Frontend/.vercel

# typescript
Frontend/*.tsbuildinfo
Frontend/next-env.d.ts
